<ul class="media-list">
  <% microposts.each do |micropost| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <div>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
          
          <% if current_user.liked_microposts.include? micropost %>
            <!-- 現在のユーザーが対象のmicropostをいいねしている場合-->
            <%= link_to "やっぱり外す", like_path(micropost.likes.find_by(user: current_user)), method: :delete, class: 'btn btn-danger btn-xs' %>
            <!-- 上記でLikesControllerのdestoryアクションへのリンクを作成できる。ただし、引数にLikeモデルのインスタンスを入れる必要がある -->
          <% else %>
            <%= link_to "いいね!", likes_path(micropost_id: micropost.id), method: :post, class: 'btn btn-primary btn-xs' %>
            <!-- 上記でLikesControllerのcreateアクションへのリンクを作成できる -->
          <% end %>

        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>